.codeCompletion {
    position: fixed;
    left: 1031px;
    overflow-y: auto;
    height: 90px;
    z-index: 100;
    background-color: white;
}

.codeCompletionLine {
    height: 25px;
    width: 100%;
}

.codeCompletionLine:hover {
    background-color: deepskyblue;
}